.CollapsiblePanelContent {
	padding: 0px;
}
.CollapsiblePanel {
	border-left: solid 0px #CCC;
	border-right: solid 0px #999;
	border-top: solid 0px #999;
	border-bottom: solid 0px #CCC;
}
.CollapsiblePanelTab {
	background: #CCC;
	border: none;
}
.CollapsiblePanelTab a {
	color: #831111;
	text-decoration:underline;
}
.CollapsiblePanelTab a:hover {
	color: #000;
}
