.Accordion{
	border: none;
}
.AccordionPanelTab {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND: #efefef repeat-x 0% 100%;
	PADDING-BOTTOM: 8px;
	MARGIN: 1em 0px 0.5em;
	border: none;
	BORDER-LEFT: #cdcdcd 14px solid;
	COLOR: #000;
	LINE-HEIGHT: normal;
	PADDING-TOP: 8px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.AccordionFocused .AccordionPanelTab {
	background-color: #efefef;
}
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #efefef;
}
.AccordionPanelTab span{
	COLOR: #000;
	text-decoration: none;
	display: block;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-image: url(../images/icon_arrow_open.gif);
}
.AccordionPanelOpen span{
	background-image: url(../images/icon_arrow_close.gif);
}